{% extends "index.html" %}

{% block content %}
<div class="left home_split">
  <div class="clear home_blog_overview">
    <div class="home_blog_image_box">
      <img class="home_blog_image" src="{{ STATIC_URL }}images/img1.jpg">
    </div>
    <div class="clear home_blog_heading">
      This is a post
    </div>
    <div class="home_blog_caption">
      this is a quick summary of what the home_blog is about.  It will likely contain the first few sentences of the home_blog, or, if we get really ambitions, a summary of the post stored in a db that just gets pulled.
        <div class="right home_blog_button">
          <a href="www.iloveellie.com"> Sweet Button </a>
        </div>
    </div>
    <div class="clear home_blog_divider"></div>
  </div>
  <div class="clear home_blog_overview">
    <div class="home_blog_image_box">
      <img class="home_blog_image" src="{{ STATIC_URL }}images/redwood_pic.jpg">
    </div>
    <div class="home_blog_heading">
      This is a post
    </div>
    <div class="home_blog_caption">
      this is a quick summary of what the home_blog is about.  It will likely contain the first few sentences of the home_blog, or, if we get really ambitions, a summary of the post stored in a db that just gets pulled.
      this is a quick summary of what the home_blog is about.  It will likely contain the first few sentences of the home_blog, or, if we get really ambitions, a summary of the post stored in a db that just gets pulled.
      this is a quick summary of what the home_blog is about.  It will likely contain the first few sentences of the home_blog, or, if we get really ambitions, a summary of the post stored in a db that just gets pulled.
        <div class="right home_blog_button">
          <a href="www.iloveellie.com"> Sweet Button </a>
        </div>
    </div>
    <div class="clear home_blog_divider"></div>
  </div>
</div>
<div class="left home_split">
  <div class="clear home_blog_overview">
    <div class="home_blog_image_box">
      <img class="home_blog_image" src="{{ STATIC_URL }}images/redwood_pic.jpg">
    </div>
    <div class="home_blog_heading">
      This is a post
    </div>
    <div class="home_blog_caption">
      this is a quick summary of what the home_blog is about.  It will likely contain the first few sentences of the home_blog, or, if we get really ambitions, a summary of the post stored in a db that just gets pulled.
      this is a quick summary of what the home_blog is about.  It will likely contain the first few sentences of the home_blog, or, if we get really ambitions, a summary of the post stored in a db that just gets pulled.
      this is a quick summary of what the home_blog is about.  It will likely contain the first few sentences of the home_blog, or, if we get really ambitions, a summary of the post stored in a db that just gets pulled.
      this is a quick summary of what the home_blog is about.  It will likely contain the first few sentences of the home_blog, or, if we get really ambitions, a summary of the post stored in a db that just gets pulled.
      this is a quick summary of what the home_blog is about.  It will likely contain the first few sentences of the home_blog, or, if we get really ambitions, a summary of the post stored in a db that just gets pulled.
        <div class="right home_blog_button">
          <a href="www.iloveellie.com"> Sweet Button </a>
        </div>
    </div>
    <div class="clear home_blog_divider"></div>
  </div>
</div>
{% endblock %}