{% extends "index.html" %}

{% block content %}
<div class="left split_50">
  <div class="clear blog">
    <div class="left blog_image_box">
      <img src="{{ STATIC_URL }}images/redwood_pic.jpg" style="width:100%;">
    </div>
    <div class="blog_heading">
      This is a post
    </div>
    <div class="blog_caption">
      this is a quick summary of what the blog is about.  It will likely contain the first few sentences of the blog, or, if we get really ambitions, a summary of the post stored in a db that just gets pulled.
        <div class="right blog_button">
          <a href="www.iloveellie.com"> Sweet Button </a>
        </div>
    </div>
    <div class="clear blog_divider"></div>
  </div>
</div>
<div class="left split_50">
  <h2 class="header_box">
    This is where the headings will go
  </h2>
  <div>
    and now we are home
  </div>
</div>
{% endblock %}