{% extends "index.html" %}

{% block content %}
<div class="left split_50">
  <div class="blog">
    <div class="blog_heading">
      i love blogs
    </div>
    <div class="blog_image_box">
      <img src="{{ STATIC_URL }}images/redwood_pic.jpg" style="width:100%;">
    </div>
    <div class="blog_caption">
      y;lkjjhgfhgfh;lkhkjhlkghfdhgfdghf
    </div>
    <div class="blog_button">
      <a href="www.iloveellie.com"> Sweet Button </a>
    </div>
  </div>
</div>
<div class="left split_50">
  <h2 class="header_box">
    This is where the headings will go
  </h2>
  <div>
    and now we are home
  </div>
</div>
{% endblock %}