.home_split {
    margin-top: 5px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 15px;
    width: 47%;
}

.home_split > .home_blog_overview {
    border-bottom: 3px dotted #FFCCBA;
}

.home_split > .home_blog_overview:first-child {
    border-top: 3px dotted #FFCCBA;
}

.home_blog_overview {
    padding: 1% 4%;
}

.home_blog_caption {
    font-size: 16px;
}

.home_blog_heading {
    font-size: 26px;
    padding-bottom: 15px;
    padding-top: 10px;
    text-transform: uppercase;
    text-align: center;
}

.home_blog_image_box {
    background-color: #FFCCBA;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: auto;
}

.home_blog_image {
    width: 100%;
}

.home_blog_image:hover {
    -webkit-transition: all 1s ease;
    -moz-transition:    all 1s ease;
    -o-transition:      all 1s ease;
    -ms-transition:     all 1s ease;
    transition:         all 1s ease;
    opacity: 0.5;
}

.home_blog_text {
    font-size: 12px;
}

.home_blog_button {
    line-height: 22px;
    background-color: #97C4C9;
    color: #000;
    padding: 7px;
    width: -moz-fit-content;
    -webkit-box-shadow: 6px 6px 0 #222222;
    box-shadow: 6px 6px 0 #222222;
    -webkit-border-radius: 15px 60px 15px 60px;
    border-radius: 15px 60px 15px 60px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-top: 5px;
}

.home_blog_button > a {
    text-decoration: none;
    color: #000;
}

.home_blog_dividers {
    border-bottom: 4px dotted #FFCCBA;
    margin-left: -4%;
    margin-right: -2%;
}

.tiny_icon_box {
    width: 20%;
}